@{
    ViewData["Title"] = "Login";
}



<h1>Above premier</h1>
<br />

<p>Bienvenido @ViewBag.usuario</p>
<br />
<p>
    Above Premier es el software lider en la industria. Las herramientas creativas le permitiran desde cambiar el formato de un video hasta extraer el audio del mismo,
    ademas tiene la posibilidad de cambiar la resolucion, remover audio y sacar capturas, podra crear imagenes y videos refinados. Usted puede estar seguro de lo que va a adquirir ya que somos
    la aplicacion mas utilizada y descargada en el rubro. 
</p>

<p>
    Tambien destacamos a nuestros ingenieros recien graduados de Silicon Valley que pudieron lograr un
    aspecto increible en nuestra aplicacion.

</p>

<br />
<p>Para descargar nuestra aplicacion clickee el link de abajo</p>
<br />
<a href="https://github.com/John-locke-dv/Plataformas-TP1" target="_blank"> Descargar Above Premier </a>
<br />
<br />

<br />
<br />
<br />
<a asp-action="" asp-controller="Home">Cerrar sesión</a>
